<div id="openBoxChat" class="chat-ai-global flex-row flex-center">
  <div class="btn-chat flex-row flex-center">
    <div class="icon">
      <span class="icon-chat_bubble"></span>
    </div>
    <span>AI</span>
    <div id="box-chat" class="box-chat-modal flex-column">
      <div class="box-chat-name flex-row flex-space-between align-center">
        <p>Tên chat box</p>
        <p id="closeBoxChat">X</p>
      </div>
      <div class="box-chat-body">
        <div class="content">
          <div class="message"><p>body text</p></div>
          <div class="message auto"><p>body text</p></div>
          <div class="message"><p>body text</p></div>
          <div class="message"><p>body text</p></div>
          <div class="message auto"><p>body text</p></div>
          <div class="message"><p>body text</p></div>
        </div>
        <div class="create-message flex-row align-center gap-20">
          <input type="text" placeholder="Value" />
          <button>Gửi</button>
          <button class="suggest">Gợi ý</button>
        </div>
      </div>
    </div>
  </div>
</div>
