<footer>
  <div class="evaluate">
    <h1>Đánh giá</h1>
    <div class="footer-widget">
      <div class="widget-wrapper flex-column gap-10">
        <div class="map">
          <img src="/assets/images/map.png" alt="map" />
        </div>
        <div class="social flex-row flex-center gap-25">
          <a href="#"
            ><img src="/assets/images/facebook.png" alt="facebook"
          /></a>
          <a href="#"><img src="/assets/images/youtube.png" alt="youtube" /></a>
          <a href="#"
            ><img src="/assets/images/instagram.png" alt="instagram"
          /></a>
        </div>
        <div
          class="review-card user-1 review-card-1 flex-column flex-space-between"
        >
          <div class="star flex-row align-center">
            <img src="/assets/images/Star.png" alt="star" />
            <img src="/assets/images/Star.png" alt="star" />
            <img src="/assets/images/Star.png" alt="star" />
            <img src="/assets/images/Star.png" alt="star" />
            <img src="/assets/images/Star.png" alt="star" />
          </div>
          <div>
            <div class="review-title">Review title</div>
            <div class="review-body">Review body</div>
          </div>
          <div class="user-review flex-row gap-10">
            <div class="avt">
              <img src="/assets/images/Avatar.png" alt="Avatar" />
            </div>
            <div>
              <p>Reviewer name</p>
              <span>Date</span>
            </div>
          </div>
        </div>
        <div
          class="review-card user-2 review-card-2 flex-column flex-space-between"
        >
          <div class="star flex-row align-center">
            <img src="/assets/images/Star.png" alt="star" />
            <img src="/assets/images/Star.png" alt="star" />
            <img src="/assets/images/Star.png" alt="star" />
            <img src="/assets/images/Star.png" alt="star" />
            <img src="/assets/images/Star.png" alt="star" />
          </div>
          <div>
            <div class="review-title">Review title</div>
            <div class="review-body">Review body</div>
          </div>
          <div class="user-review flex-row gap-10">
            <div class="avt">
              <img src="/assets/images/Avatar.png" alt="Avatar" />
            </div>
            <div>
              <p>Reviewer name</p>
              <span>Date</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-footer">
    <div class="container flex-row flex-space-between">
      <div class="footer-left flex-column gap-20">
        <div class="logo">
          <img src="/assets/images/logo-footer.png" alt="logo" />
        </div>
        <p class="adress">
          Địa chỉ: thôn Đông Sàng - xã Đường Lâm - Sơn Tây - Hà Nội
        </p>
        <div class="working-hours">
          <p class="footer-underline">Giờ làm việc</p>
          <p>
            Thứ 2 đến Thứ 6: Từ 6:00 đến 17:00
            <br />
            Thứ 7 & chủ nhật: Từ 6:00 đến 18:00
          </p>
        </div>
      </div>
      <div class="footer-right">
        <h6>Về chúng tôi</h6>
        <div class="flex-column gap-20">
          <div class="footer-right-item">
            <div class="footer-underline">Thông tin liên hệ</div>
            <div class="flex-row align-center gap-10">
              <div class="icon">
                <img src="/assets/icons/Phone.svg" alt="phone-icon" />
              </div>
              <p>0983.577.324</p>
            </div>
            <div class="flex-row align-center gap-10">
              <div class="icon">
                <img src="/assets/icons/mail.svg" alt="mail-icon" />
              </div>
              <p>Damthanhcv@gmail.com</p>
            </div>
          </div>
          <div class="footer-right-item">
            <div class="footer-underline">Sản phẩm</div>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-right flex-row justify-center">
      <p>
        © 2025 Chuamia.com.vn.All Rights Reserved - Website developed by
        TrinhLinhNhi
      </p>
    </div>
    <!-- <div id="openBoxChat" class="chat-ai flex-row flex-center">
      <div class="btn-chat flex-row flex-center">
        <div class="icon">
          <span class="icon-chat_bubble"></span>
        </div>
        <span>AI</span>
        <div id="box-chat" class="box-chat-modal flex-column">
          <div class="box-chat-name flex-row flex-space-between align-center">
            <p>Tên chat box</p>
            <p id="closeBoxChat">X</p>
          </div>
          <div class="box-chat-body">
            <div class="content">
              <div class="message"><p>body text</p></div>
              <div class="message auto"><p>body text</p></div>
              <div class="message"><p>body text</p></div>
              <div class="message"><p>body text</p></div>
              <div class="message auto"><p>body text</p></div>
              <div class="message"><p>body text</p></div>
            </div>
            <div class="create-message flex-row align-center gap-20">
              <input type="text" placeholder="Value" />
              <button>Gửi</button>
              <button class="suggest">Gợi ý</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="footer-mobile">
    <div class="container">
      <div class="footer-mobile-info">
        <div class="logo">
          <img src="/assets/images/logo-footer.png" alt="logo" />
        </div>
        <p class="adress">
          Địa chỉ: thôn Đông Sàng - xã Đường Lâm - Sơn Tây - Hà Nội
        </p>
        <div class="contact-mobile">
          <div class="flex-row align-center">
            <div class="icon">
              <img src="/assets/icons/Phone.svg" alt="phone-icon" />
            </div>
            <p>0983.577.324</p>
          </div>
          <div class="flex-row align-center">
            <div class="icon">
              <img src="/assets/icons/mail.svg" alt="mail-icon" />
            </div>
            <p>Damthanhcv@gmail.com</p>
          </div>
        </div>
        <div class="working-hours">
          <p class="footer-underline">Giờ làm việc</p>
          <p>
            Thứ 2 đến Thứ 6:<br />
            Từ 6:00 đến 17:00
            <br />
            Thứ 7 & chủ nhật:<br />
            Từ 6:00 đến 18:00
          </p>
        </div>
      </div>
      <div class="footer-mobile-about">
        <p class="footer-underline">Về chúng tôi</p>
        <ul>
          <li><a href="/pages/information.html">Thông tin</a></li>
          <li><a href="/pages/products.html">Sản phẩm</a></li>
        </ul>
      </div>
    </div>
    <div class="copy-right-mobile">
      <p>© 2025 All Rights Reserved</p>
    </div>
  </div>
</footer>
