<header id="sticky-header" class="header-mobile">
  <div class="container flex-row flex-space-between">
    <div class="navigation-btn open-navigation">
      <span>&#9776;</span>
    </div>
    <div class="header-logo">
      <span>LOGO</span>
    </div>
    <div class="search flex-row flex-center">
      <div class="search-icon">
        <svg
          width="17"
          height="17"
          viewBox="0 0 17 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_556_524)">
            <path
              d="M14.9515 14.32L12.0281 11.42M13.6074 7.65334C13.6074 10.5989 11.2004 12.9867 8.23108 12.9867C5.26181 12.9867 2.85474 10.5989 2.85474 7.65334C2.85474 4.70782 5.26181 2.32001 8.23108 2.32001C11.2004 2.32001 13.6074 4.70782 13.6074 7.65334Z"
              stroke="#F3F3F3"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </g>
          <defs>
            <clipPath id="clip0_556_524">
              <rect
                width="16.129"
                height="16"
                fill="white"
                transform="translate(0.838623 0.320007)"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
      <input type="text" />
    </div>
    <nav class="menu-mobile">
      <ul class="flex-row gap-50">
        <li class="close-navigation"><p>&#9776;</p></li>
        <li>
          <a href="/index.html">
            <img src="../assets/images/home-icon.png" alt="home" />Trang chủ</a
          >
        </li>
        <li>
          <a href="/pages/about.html" class="flex-row">
            <img src="../assets/images/about-icon.png" alt="about" />
            Giới thiệu
            <span class="icon-Polygon"></span>
          </a>
        </li>
        <li>
          <a href="/pages/information.html">
            <img src="../assets/images/info-icon.png" alt="icon" />Thông tin</a
          >
        </li>
        <li>
          <a href="/pages/products.html" class="flex-row">
            <img src="../assets/images/product-icon.png" alt="product" />Sản
            phẩm <span class="icon-Polygon"></span
          ></a>
        </li>
        <li>
          <a href="#" class="flex-row gap-5">
            <img src="../assets/images/language-icon.png" alt="language" />
            <span class="icon-language"></span>
            VN
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
